{%extends 'base.html' %} 

{% block title %} admin_uploadingphoto {% endblock %}

{% block content %} 
{% include 'admin/base.html' %}
<form action="{{url_for('admin.config_temp')}}" method="POST">
    
    {{ form.hidden_tag() }}
    
    maxtemp : {{form.maxtemp}} <br>
    mintemp : {{form.mintemp}} <br>
    name : {{form.name}} <br>
    slug : {{form.slug}} <br>
    <input type="submit" value="OK">
</form>

<div>
    <table>
        <tr>
          <th>name</th>
          <th>slug</th>
          <th>maxtemp</th>
          <td>mintemp</td>
        </tr>
        {% for temp in temps %} 
        <tr>
          <td>{{temp.name}}</td>
          <td>{{temp.slug}}</td>
          <td>{{temp.maxtemp}}</td>
          <td>{{temp.mintemp}}</td>
        </tr>
        {% endfor %}
      </table> 

    
</div>

{% endblock %}
